/* Configurações Padrões*/
*{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background-color: white;
}

/* Configurações de cores */
.azul-escuro{
    color: #022531;
}

.azul-claro{
    color: #00c4cc;
}

.azul-claro2{
    color: #0c8ea1;
}


/* Navbar */
.navbar{
    display: flex;
    flex-direction: row;
}

.navbar nav{
    width: 100%;
    height: 60px;
    display: flex;
    list-style: none;
    background-color: #0c8ea1;
    align-items: center;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Lado Esquerdo*/

.nav-esquerda{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.img-logo{
    width: auto;
    height: 65px;
}

/* Lado Direito */
.nav-direita{
    display: flex;
    justify-content: flex-end;
}

.img-perfil{
    width: 45px;
    height: 45px;
    margin: 10px;
}

.cadastrar{
    height: 40px;
    width: 80px;
    border: 1px solid;
    border-color: #023a4d;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastrar a{
    font-size: 15px;
    cursor: pointer;
}

.login{
    height: 40px;
    width: 80px;
    border-radius: 20px;
    background-color: #023a4d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.login a{
    font-size: 15px;
    color: white;
    cursor: pointer;
}


/* Calculadora Financeira */


.container p {
    font-size: 20px;
}

.hidden {
    display: none;
}

#contato{
    border-radius: 20px;
}

.p-style{
    padding: 10px;
}

.card-title{
    text-align: center;
    padding-bottom: 50px;
}

#div_direita{
    background-color: #0c8ea1;
}
#div_esquerda{
    background-color: rgb(151,151,151);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

.card {
    width: 38%;
    height: 70vh;
    color: white;
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 10px;
    margin: 40px;
    text-align: left;
}

#h1-principal {
    margin: 20px 0px;
    font-size: 30px;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(45deg, #6877ff, #09eecf);
    background-clip: text;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.formulario h3{
    display: flex;
    justify-content: flex-start;
    margin-left: 6%;
    gap: 10px;
}

#h3-formulario{
    color: transparent;
    background: linear-gradient(45deg, #6877ff, #09eecf);
    background-clip: text;
}

.conteudo-principal {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao {
    margin-top: 10px;
    background: linear-gradient(145deg, #6877ff, #2575fc);
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

}

.botao:hover {
    background: linear-gradient(145deg, #2575fc, #09eecf);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}

input{
    margin: 5px;
    width: 85%;
    padding: 15px;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    color: rgb(0, 0, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.obs{
    background-color: rgb(228, 228, 228);
    padding: 20px;
    color: black;
    border-radius: 10px;
    width: 84%;
    margin-bottom: 10vh;
}

/*Footer*/

.footer{
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background-color: #bcc7ca;
    display: flex;
    align-items: center;
}

.footer h3{
    font-size: 10px;
    margin-left: 20px;
}