/* Configurações Padrões*/
*{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background-color: white;
}

/* Configurações de cores */
.azul-escuro{
    color: #022531;
}

.azul-claro{
    color: #00c4cc;
}

.azul-claro2{
    color: #0c8ea1;
}


/* Navbar */
.navbar{
    display: flex;
    flex-direction: row;
}

.navbar nav{
    width: 100%;
    height: 60px;
    display: flex;
    list-style: none;
    background-color: #0c8ea1;
    align-items: center;
    
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Lado Esquerdo*/

.nav-esquerda{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.img-logo{
    width: auto;
    height: 65px;
}

/* Lado Direito */
.nav-direita{
    display: flex;
    justify-content: flex-end;
}

.img-perfil{
    width: 45px;
    height: 45px;
    margin: 10px;
}

.cadastrar{
    height: 40px;
    width: 80px;
    border: 1px solid;
    border-color: #023a4d;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastrar a{
    font-size: 15px;
    cursor: pointer;
}

.login{
    height: 40px;
    width: 80px;
    border-radius: 20px;
    background-color: #023a4d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.login a{
    font-size: 15px;
    color: white;
    cursor: pointer;
}

/* Body */

/* Div lado esquerda */

.titulo-principal{
    font-size: 35px;
    position: absolute;
}

.container{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.conteudo-principal{
    padding-left: 60px;
}

.conteudo-principal h2{
    font-size: 50px;
    padding-top: 60px;
}

.conteudo-principal p{
    text-align: justify;
    font-size: 17px;
    margin-right: 50px;
}

.paragrafo-azul{
    margin-top: 10px;
}


/* Div lado direito */

.logo-principal{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-principal img{
    margin-top: 100px;
    margin-right: 30px;
    width: 480px;
}

/*Footer*/

.footer{
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background-color: #bcc7ca;
    display: flex;
    align-items: center;
}

.footer h3{
    font-size: 10px;
    margin-left: 20px;
}