/*Configurações Padrões*/
*{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background-color: #0c8ea1;
}

/*Conteudo Principal*/
.container{
    display: flex;
    flex-direction: row;
}

/*Div Esquerda*/
.div-esquerda{  
    height: 100vh;
    width: 58%;
    background-color: #0c8ea1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 60px;
}

.div-esquerda p{
    color: white;
    font-size: 40px;
}

/*Div Direita*/
.div-direita{
    height: 100vh;
    width: 100%;
    background-color: white;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Css do formulário */
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    padding: 20px;
    transition: all 0.3s ease;
    margin-bottom: 0.1vh;
  }

  .formulario button{
    background-color: #00c4cc;
    border: none;
    color: white;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    cursor: pointer;
    margin:30px 0px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
  }

.formulario a {
    text-decoration: none;
    cursor: pointer;
}

.formulario button:hover{
    transform: scale(1.05);
    background-color: #33e4ff;
  }
  
  .formulario input:hover{
    border-color: #00c4cc;
    transform: scale(1.025);
  }
  
  .formulario input:focus::placeholder{
    color: #00c4cc;
  }

/* SWITCH */
.switch{
  width: 20vw;
  height: 10vh;
  padding: 0;
  margin: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.button{
  background-color: #d2d2d2;
  width: 10vw;
  height: 5vh;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
  margin-left: 10px;
}

.button::before{
  position: absolute;
  content: '';
  background-color: #fff;
  width: 4vw;
  height: 4.5vh;
  border-radius: 200px;
  margin: 2.2px;
  transition: 0.2s;
}

.button::after{
  background-color: #00c4cc;
}

input:checked + .button{
background-color: #00c4cc;
}

input + .button{
background-color: #0c8ea1;
}

input:checked + .button::before{
  transform: translateX(5.7vw);
}

#chk_mudarLogin{
  display: none;
}